@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

header h1{
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 4em;
}

header p{
    padding: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(85, 84, 84);
    color: white;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.292);
    display: inline-block;
    padding: 5px;
}


footer{
    background-color: black;
    text-align: center;
    padding: 4px;
}