@charset "UTF-8";

body{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 16px; /*iqual a 1em*/
    font-weight: normal;
    /*font-style: italic;*/
    /*text-decoration: underline;*/
    
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;

}
h2{
    font: italic bolder 3em Arial;
}
