@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

header h1{
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header p{
    padding: 50px 0px 30px 0px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    padding: 4px;
}

a:hover{
    text-decoration: underline;
    background-color: rgb(62, 62, 62);
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}
section p{
    padding-bottom: 1em;    
}


section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.717);
    color: white;
    box-shadow: inset 1px 6px 12px 0px rgba(0, 0, 0, 0.500);
    background-size: cover;
    background-attachment: fixed;
}

#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.292);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.217);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
}