@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url('../fontes/idroid.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;

}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonpadrao: arial, verdana, helvetica, sans-serif;
    --destaque: "Bebas Neue", sans-serif;
    --fonidroid: 'idroid', curseve;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonpadrao);
    
}

header{
    color: white;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;


}

header > h1{
font-family: var(--destaque);
color: white;
margin-top: 10px;
margin-bottom: 20px;
font-weight: normal;
font-size: 3em;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.374);

}

header > p{
    font-family: var(--fonpadrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.374);
    margin-bottom: 20px;
}

nav{
    background-color: var(--cor5);
    text-align: justify;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.187);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}

main{
    background-color: white;
    padding: 20px;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.429);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}


main h1{
    font-family: var(--fonidroid);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonidroid);
    color: var(--cor4);
    font-size: 1.5em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 20px;
}

main p{
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}

main a{
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 5px;
    border-radius: 7px;
    font-weight: bold;
}

a.externo::after{
    content: '\00A0\1F517';
}

main a:hover{
    color: var(--cor2);
    text-decoration: underline;
}

img{
    width: 100%;
}

.bugpq{
    display: block;
    margin: auto;
    max-width: 300px;
    
}

div{
    background-color: var(--cor4);
    padding: 15px 25px 15px 25px;
    
}

div.video{
    position: relative;
    margin: 0px -20px 30px 0px;
    padding: 20px;
    padding-bottom: 58%;
}

div.video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.164);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1F5F8\00A0\00A0';
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    background-color: var(--cor3);
    text-decoration: underline;
}