@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #9091EF, #8D88AC);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #843e6c9e;

}

h1{
    color: #BF5A9C;
    text-align: center;
    text-shadow: 1px 1px 2px #592a49a4;
}

h2{
    color: #9CBBBA;
}

p{
    text-align: justify;
}